<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="posts"
{{#each posts as |post|}}
  <div class="post-header">
    {{post_title}}
  </div>
  <div class="card-body">
  {{post_title}}

  </div>
  {{/each}}
</div>
</body>
</html>
